<div class='filter-field'>
  <h3>Filter</h3>
  {{input type="text" class="form-control" value=filter placeholder="Enter the title for the movie, TV show, or game you are looking for"}}
</div>
{{#if (not (is-empty filteredMovies))}}
  <h1 class='movie-list-header'>Movies</h1>
  <ul class='movie-list'>
  {{#each filteredMovies as |movie|}}
    <li class='movie'>
      {{#link-to 'browse.game' movie.slug}}
        {{movie.displayName}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
{{/if}}
{{#if (not (is-empty filteredTvShows))}}
  <h1 class='tv-show-list-header'>TV Shows</h1>
  <ul class='tv-show-list'>
  {{#each filteredTvShows as |show|}}
    <li class='tv-show'>
      {{#link-to 'browse.game' show.slug}}
        {{show.displayName}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
{{/if}}

{{#if (not (is-empty filteredVideoGames))}}
  <h1 class='video-game-list-header'>Video Games</h1>
  <ul class='video-game-list'>
  {{#each filteredVideoGames as |game|}}
    <li class='video-game'>
      {{#link-to 'browse.game' game.slug}}
        {{game.displayName}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
{{/if}}

{{#if (not (is-empty filteredBoardGames))}}
  <h1 class='board-game-list-header'>Board and Card Games</h1>
  <ul class='board-game-list'>
  {{#each filteredBoardGames as |game|}}
    <li class='board-game'>
      {{#link-to 'browse.game' game.slug}}
        {{game.displayName}}
      {{/link-to}}
    </li>
  {{/each}}
  </ul>
{{/if}}
